@use '@styles/_mixins.scss' as *;
@use '@styles/_variables.scss' as *;

.button {
  @include flex-center;

  position: relative;
  font-weight: $font-weight-bold;
  font-size: $font-size-md-plus;
  color: var(--light-text-color);
  padding: $spacing-md 0;
  border-radius: $radius-2xl;
  max-width: 230px;
  min-width: 230px;
  gap: $spacing-sm;

  opacity: 0.6;
  transition: all 0.2s ease-in-out;
  background: var(--logout-btn-bg);

  &:hover {
    opacity: 0.9;
  }

  .loader {
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
