@use '@styles/_mixins.scss' as *;

.button {
  @include flex-center;

  gap: var(--spacing-xs);
  color: var(--dark-font-color);
  width: 100%;
  min-height: 62px;
  border-radius: var(--radius-xl);
  border: 1px solid var(--border-sign-type-color);
  cursor: pointer;

  font-size: var(--font-size-lg);
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid var(--border-sign-type-hover-color);
  }

  @media (max-width: 1280px) {
    min-height: auto;
    padding: var(--spacing-ms) 0;
  }

  @media (max-width: 620px) {
    font-size: var(--font-size-md);
    min-height: 50px;
  }
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}
