@use '@styles/_mixins.scss' as *;

.button {
  @include flex-center;

  gap: var(--spacing-sm);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  color: var(--sign-button-color);
  background: var(--sign-button-bg);
  padding: var(--spacing-md);
  border-radius: var(--radius-3xl);
  width: 100%;
  border: 1px solid var(--sign-button-bg);
  transition:
    color 0.3s ease-in-out,
    background 0.3s ease-in-out;

  &:not([disabled]):hover {
    background: transparent;
    color: var(--sign-button-bg);
  }

  @media (max-width: 768px) {
    font-size: var(--font-size-md-plus);
  }

  .loader {
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
