@use '@styles/_mixins.scss' as *;
@use '@styles/_variables.scss' as *;

.sidebar {
  width: 100%;
  max-width: 360px;
  border-right: 1px solid var(--border-color);
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  z-index: 100;
  background: var(--color-bg);

  @media (max-width: $breakpoint-4xl) {
    max-width: 300px;
  }

  @media (max-width: $breakpoint-3xl) {
    max-width: fit-content;
  }

  @media (max-width: $breakpoint-md) {
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    width: 100%;
    max-width: none;
    height: auto;
    min-height: 70px;
    min-height: auto;
    border-right: none;
    border-top: 1px solid var(--border-color);
    background: var(--color-bg);
    z-index: 900;
  }

  .content {
    display: flex;
    flex-direction: column;
    padding: $spacing-xl;
    min-height: 100%;

    @media (max-width: $breakpoint-3xl) {
      padding: $spacing-md;
    }

    @media (max-width: $breakpoint-md) {
      flex-direction: row;
      width: 100%;
      max-width: none;
      max-height: 70px;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-xl-plus;
    width: 100%;
    max-width: 40px;

    @media (max-width: $breakpoint-3xl) {
      margin: 0 auto;
      margin-bottom: $spacing-xl-plus;

      svg {
        max-width: 32px;
        max-height: 32px;
      }
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  .nav {
    margin-bottom: $spacing-xl-plus;

    @media (max-width: $breakpoint-md) {
      margin: 0 auto;
      width: 100%;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: $spacing-lg-plus;

      @media (max-width: $breakpoint-3xl) {
        gap: $spacing-lg;
        align-items: center;
      }

      @media (max-width: $breakpoint-md) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 $spacing-lg;
        gap: 0;
      }

      @media (max-width: 540px) {
        padding: 0;
      }
    }
    .listItem {
      max-width: fit-content;
      position: relative;

      @media (max-width: $breakpoint-3xl) {
        @include flex-center;
      }

      .listLink {
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        text-decoration: none;

        &:hover .linkText::after {
          width: 100%;
        }

        @media (max-width: $breakpoint-3xl) {
          justify-content: center;
        }
      }

      .linkIcon {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $breakpoint-3xl) {
          width: 24px;
          height: 24px;
        }
      }

      .linkText {
        position: relative;
        font-size: $font-size-md-plus;
        font-weight: $font-weight-semibold;
        color: var(--dark-text-color);
        transition: color 0.3s ease-in-out;

        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0px;
          width: 0%;
          height: 1px;
          background: var(--dark-text-color);
          transition: width 0.3s ease-in-out;
        }

        @media (max-width: $breakpoint-3xl) {
          display: none;
        }
      }

      &.active {
        .linkIcon path {
          fill: var(--primary-color);
        }
        .linkText {
          color: var(--primary-color);

          &::after {
            background: var(--primary-color);
            width: 100%;
          }
        }
      }
    }
  }

  .newTweetButton {
    margin-bottom: $spacing-md;

    @media (max-width: $breakpoint-3xl) {
      height: 100%;
      width: 100%;
      max-width: 40px;
      max-height: 40px;
      margin: 0 auto;
      margin-bottom: $spacing-md;
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }

    .newTweetText {
      @media (max-width: $breakpoint-3xl) {
        display: none;
      }
    }

    .plusIcon {
      display: none;

      @media (max-width: $breakpoint-3xl) {
        display: flex;
        path {
          fill: var(--light-text-color);
        }
      }
    }
  }

  .user {
    margin-top: auto;
    margin-bottom: $spacing-lg;

    span {
      @media (max-width: $breakpoint-3xl) {
        display: none;
      }
    }

    a {
      @media (max-width: $breakpoint-3xl) {
        gap: 0;
        height: 100%;
        width: 100%;
        max-width: 40px;
        max-height: 40px;
      }
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  .userSkeleton {
    margin-top: auto;
    margin-bottom: $spacing-lg;

    @media (max-width: $breakpoint-3xl) {
      max-width: 40px;
      max-height: 40px;
      border-radius: 50%;
      overflow: hidden;
    }
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  .logoutButton {
    @media (max-width: $breakpoint-3xl) {
      margin: 0 auto;
      height: 100%;
      width: 100%;
      max-width: 40px;
      max-height: 40px;
    }

    @media (max-width: $breakpoint-md) {
      display: none;
    }

    span {
      display: flex;
      @media (max-width: $breakpoint-3xl) {
        display: none;
      }
    }

    .logoutButtonIcon {
      display: none;

      @media (max-width: $breakpoint-3xl) {
        display: flex;
      }

      path {
        fill: var(--light-text-color);
      }
    }
  }

  .hideBelow768 {
    @media (max-width: $breakpoint-md) {
      display: none !important;
    }
  }
}
