@use '@styles/_mixins.scss' as *;
@use '@styles/_variables.scss' as *;

.button {
  @include flex-center;

  position: relative;
  gap: $spacing-sm;
  width: 100%;
  background: var(--primary-color);
  padding: $spacing-md 0;
  border-radius: $radius-lg-plus;
  text-align: center;
  font-size: $font-size-md-plus;
  font-weight: $font-weight-bold;
  color: var(--light-text-color);
  transition: background 0.3s ease-in-out;

  &:hover {
    background: var(--primary-color-hover);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  @media (max-width: $breakpoint-md) {
    font-size: $font-size-md-plus;
  }
}
