@use '@styles/_mixins.scss' as *;

.followButton {
  @include flex-center;

  user-select: none;
  position: relative;
  gap: var(--spacing-sm);
  width: 100%;
  max-width: 100px;
  background: var(--primary-color);
  padding: var(--spacing-sm) 0;
  border-radius: var(--radius-lg-plus);
  text-align: center;
  font-size: var(--font-size-md-plus);
  font-weight: var(--font-weight-medium);
  color: var(--light-text-color);
  transition: background 0.3s ease-in-out;
  margin-left: auto;

  &:hover {
    background: var(--primary-color-hover);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
  }

  @media (max-width: 1400px) {
    padding: var(--spacing-sm) 0;
    font-size: var(--font-size-md);
    max-width: 80px;
  }
  @media (max-width: 768px) {
    font-size: var(--font-size-md-plus);
  }
}
