@use '@styles/_mixins.scss' as *;
@use '@styles/_variables.scss' as *;

.form {
  max-width: 750px;
  padding: $spacing-2xl;
  background: var(--login-form-bg);
  border-radius: $radius-lg-plus;
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 5px 0px var(--login-shadow-color);

  @media (max-width: $breakpoint-xl) {
    padding: $spacing-2xl;
    padding-bottom: calc(#{$spacing-2xl} * 2);
  }

  @media (max-width: $breakpoint-md-lg) {
    @include flex-center;

    flex-direction: column;
    box-shadow: none;
    backdrop-filter: inherit;
    max-width: none;
    width: 100%;
    padding: 0;
  }

  .logo {
    display: block;
    margin: auto;
    margin-bottom: $spacing-lg-plus;
  }
  .title {
    margin-bottom: $spacing-lg-plus;
    font-weight: $font-weight-black;
    font-size: $font-size-2xl;
    color: var(--dark-text-color);

    @media (max-width: $breakpoint-md-lg) {
      text-align: center;
    }
    @media (max-width: $breakpoint-md) {
      font-size: $font-size-xl;
    }
  }
  .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-xl;
    gap: $spacing-lg-plus;

    @media (max-width: $breakpoint-md-lg) {
      width: 100%;
    }
    @media (max-width: 480px) {
      margin-bottom: $spacing-xl;
    }
  }
  .useGoogleButton {
    display: inline-block;
    margin-bottom: $spacing-md;
    font-size: $font-size-md-plus;
    font-weight: $font-weight-regular;
    color: var(--primary-color);
    transition: opacity 0.2s ease-in-out;
    margin-right: auto;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: $breakpoint-md) {
      font-size: $font-size-ms;
    }
  }

  .ageTitle {
    margin-bottom: $spacing-xl;
    font-weight: $font-weight-bold;
    color: var(--dark-text-color);
    font-size: $font-size-md-plus;
    margin-right: auto;
  }

  .ageText {
    margin-bottom: $spacing-md;
    color: var(--dark-text-color);
    font-size: $font-size-md;
    opacity: 0.6;
  }

  .ageWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $spacing-lg;
    margin-bottom: $spacing-xl;

    @media (max-width: $breakpoint-md-lg) {
      gap: $spacing-lg-plus;
      flex-direction: column;
    }

    .ageWrapperBlock {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;

      .error {
        position: absolute;
        bottom: -18px;
        left: 0;
        font-weight: $font-weight-semibold;
        font-size: $font-size-xs;
        color: var(--error-color);
        padding: 0px 6px;
        pointer-events: none;

        @media (max-width: 480px) {
          font-size: $font-size-xxs;
        }
      }
    }
  }
}
