@use '@styles/_variables.scss' as *;

.closeButton {
  position: absolute;
  top: $spacing-md;
  right: $spacing-md;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.7;
  }

  path {
    fill: var(--primary-color);
  }
}

.title {
  display: inline-block;
  font-size: $font-size-lg-plus;
  font-weight: $font-weight-bold;

  @media (max-width: 580px) {
    font-size: $font-size-lg;
  }
}

.description {
  font-size: $font-size-md;
  opacity: 0.8;

  @media (max-width: 580px) {
    font-size: $font-size-sm;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  gap: $spacing-md;
  width: 100%;

  button {
    padding: $spacing-md 0;
    border-radius: $radius-lg;
    flex: 1;
    font-weight: $font-weight-semibold;
    font-size: $font-size-md;
    transition: all 0.3s ease-in-out;
  }

  .cancelButton {
    background: var(--error-color);
    border: 1px solid transparent;
    color: var(--light-text-color);

    &:hover {
      color: var(--error-color);
      background: transparent;
      border: 1px solid var(--error-color);
    }
  }

  .actionButton {
    color: var(--dark-text-color);
    outline: 1px solid var(--border-sign-type-color);

    &:hover {
      outline: 1px solid var(--border-input-color);
    }
  }
}
