@use '@styles/_variables.scss' as *;

.wrapper {
  position: relative;
  width: 100%;
  border: 1px solid var(--border-input-color);
  border-radius: $radius-md;
  background: var(--color-bg);

  .label {
    font-size: $font-size-md-plus;
    padding: $spacing-md $spacing-lg;
    color: var(--dark-text-color);
    opacity: 0.6;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-md) {
      font-size: $font-size-ms;
      padding: $spacing-md;
    }

    .icon {
      transition: all 0.3s ease-in-out;
    }

    &.active {
      .icon {
        transform: rotate(-180deg);
      }
    }
  }

  .options {
    z-index: 10;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    border: 1px solid var(--border-input-color);
    border-width: 0;
    border-radius: $radius-md;
    background: var(--color-bg);
    transition: all 0.3s ease-out;

    @media (max-width: $breakpoint-md) {
      font-size: $font-size-ms;
    }

    &.active {
      max-height: 200px;
      border-width: 1px;
      overflow-y: auto;
    }

    .option {
      cursor: pointer;
      font-size: $font-size-md;
      padding: $spacing-lg;
      color: var(--dark-text-color);
      opacity: 0.6;
      width: 100%;
      text-align: left;
      transition: background 0.2s ease-in-out;

      &:hover {
        background: var(--border-input-color);
      }

      @media (max-width: $breakpoint-md) {
        padding: $spacing-md;
        font-size: $font-size-ms;
      }
    }
  }
}
