@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-reset {
  background: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

@mixin link-reset {
  background: none;
  text-decoration: none;
  color: inherit;
}

@mixin input-reset {
  background: none;
  outline: none;
  border: none;
}

@mixin ul-reset {
  list-style: none;
}

@mixin modal-animation {
  animation: modalFadeIn 0.2s ease-in-out;

  &.closing {
    animation: modalFadeOut 0.2s ease-in-out;
  }
  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes modalFadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
}

@mixin modal-animation-with-translate {
  animation: modalFadeIn 0.2s ease-in-out;

  &.closing {
    animation: modalFadeOut 0.2s ease-in-out;
  }
  @keyframes modalFadeIn {
    from {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }

  @keyframes modalFadeOut {
    from {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    to {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}
