// @use '@styles/_variables.scss' as *;

$radius-xs: 2px;
$radius-sm: 4px;
$radius-md: 6px;
$radius-lg: 12px;
$radius-lg-plus: 24px;
$radius-xl: 42px;
$radius-2xl: 60px;
$radius-3xl: 76px;
$radius-full: 100%;

$spacing-xxs: 4px;
$spacing-xs: 6px;
$spacing-sm: 8px;
$spacing-ms: 12px;
$spacing-md: 16px;
$spacing-lg: 20px;
$spacing-lg-plus: 28px;
$spacing-xl: 32px;
$spacing-xl-plus: 40px;
$spacing-2xl: 50px;
$spacing-3xl: 65px;
$spacing-4xl: 80px;
$spacing-5xl: 90px;

$font-size-xxs: 12px;
$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-ms: 15px;
$font-size-md: 16px;
$font-size-md-plus: 18px;
$font-size-lg: 20px;
$font-size-lg-plus: 22px;
$font-size-xl: 30px;
$font-size-2xl: 42px;
$font-size-3xl: 44px;
$font-size-4xl: 74px;

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-black: 800;

$breakpoint-xs: 480px;
$breakpoint-sm: 620px;
$breakpoint-md: 768px;
$breakpoint-md-lg: 860px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1060px;
$breakpoint-xxl: 1200px;
$breakpoint-3xl: 1280px;
$breakpoint-4xl: 1400px;
