@use '@styles/_mixins.scss' as *;
@use '@styles/_variables.scss' as *;

.messagesClient {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-lg-plus $spacing-md;
    border-bottom: 1px solid var(--border-color);

    @media (max-width: $breakpoint-md) {
      padding: $spacing-sm $spacing-md;
    }
  }

  .headerTitle {
    font-size: $font-size-lg-plus;
    font-weight: $font-weight-bold;
  }

  .connectionStatus {
    font-size: var(--font-size-sm);
    color: var(--dark-text-color);
  }

  .chatsWrapper {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding: 0 $spacing-md;
    margin-top: $spacing-lg;
  }
}
