.wrapper {
  padding: 0 var(--spacing-md);

  .hideUnder768 {
    display: inline-block;
    margin-top: var(--spacing-md);

    @media (max-width: 768px) {
      margin: 0;
      text-align: center;
      display: none;
    }
  }
}

.top {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: start;
  }
}
