.wrapper {
  display: inline-block;
  position: relative;
}

.bg {
  transition: stroke-dashoffset 0.35s;
}

.progress {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.text {
  font-size: 1rem;
  fill: #333;
  font-weight: bold;
}
