@use '@styles/_mixins.scss' as *;

:root {
  --color-bg: #fff;
  --dark-text-color: #000;
  --light-text-color: #fff;
  --primary-color: #1da1f2;

  --border-input-color: #0003;
  --border-sign-type-color: #e4eaed;
  --border-sign-type-hover-color: #909090;

  --toast-bg: #f5fff866;
  --toast-title-color: #27303a;
  --toast-description-color: #2f3f53;
  --border-error-color: #ff000069;
  --border-success-color: #17a100;
  --search-input-bg: #1c9bf01a;
  --logout-btn-bg: #b3b8bb;
  --error-color: #ef1c5c;

  --sign-button-color: #ffffff;
  --sign-button-bg: #1ca0f299;

  --active-like-color: #ef1c5c;
  --non-active-like-color: #536471;

  --login-form-bg: #ffffffac;
  --login-shadow-color: #00000027;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  @include button-reset;
}

a {
  @include link-reset;
}

input {
  @include input-reset;
}

body,
html {
  height: 100%;
}

body {
  background: var(--color-bg);
  font-family: var(--font-inter);
  color: var(--dark-text-color);

  .dark-theme {
    --color-bg: #000;
    --dark-text-color: #fff;
    --light-text-color: #000;
  }
}
