@use '@styles/_mixins.scss' as *;

:root {
  --white-color: #fff;
  --color-bg: #fff;
  --dark-text-color: #000;
  --light-text-color: #fff;
  --primary-color: #1da1f2;
  --primary-color-hover: #1985c8;

  --border-color: #d8d8d8;
  --border-color-hover: #959595;
  --border-input-color: #0003;
  --border-sign-type-color: #e4eaed;
  --border-sign-type-hover-color: #909090;

  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 12px;
  --radius-lg-plus: 24px;
  --radius-xl: 42px;
  --radius-2xl: 60px;
  --radius-3xl: 76px;
  --radius-full: 100%;

  --toast-bg: #f5fff866;
  --toast-title-color: #27303a;
  --toast-description-color: #2f3f53;
  --border-error-color: #ff000069;
  --border-success-color: #17a100;
  --error-color: #ef1c5c;

  --search-input-bg: #1c9bf01a;
  --search-placeholder-color: #5c6c79;

  --logout-btn-bg: #b3b8bb;
  --logout-btn-bg-hover: #9b9ea0;

  --active-like-color: #ef1c5c;
  --non-active-like-color: #536471;

  --login-form-bg: #ffffffac;
  --login-shadow-color: #00000027;

  --you-might-like-bg: #f7f9f9bf;
  --empty-text-color: #00000093;

  --post-hover-bg: #73bff220;

  --uploader-icon-color: #0000008c;
  --uploader-border-color: #0004;
  --uploader-border-color-hover: #0007;

  --skeleton-base-color: #ddd;
  --skeleton-shine-color: #e8e8e8;
  --skeleton-animation-duration: 1.2s;

  --spacing-xxs: 4px;
  --spacing-xs: 6px;
  --spacing-sm: 8px;
  --spacing-ms: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-lg-plus: 28px;
  --spacing-xl: 32px;
  --spacing-xl-plus: 40px;
  --spacing-2xl: 50px;
  --spacing-3xl: 65px;
  --spacing-4xl: 80px;
  --spacing-5xl: 90px;

  --font-size-xxs: 12px;
  --font-size-xs: 13px;
  --font-size-sm: 14px;
  --font-size-ms: 15px;
  --font-size-md: 16px;
  --font-size-md-plus: 18px;
  --font-size-lg: 20px;
  --font-size-lg-plus: 22px;
  --font-size-xl: 30px;
  --font-size-2xl: 42px;
  --font-size-3xl: 44px;
  --font-size-3xl-plus: 60px;
  --font-size-4xl: 74px;

  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  @include button-reset;
}

a {
  @include link-reset;
}

input {
  @include input-reset;
}

ul,
ol {
  @include ul-reset;
}

body,
html {
  height: 100%;
}

body {
  background: var(--color-bg);
  font-family: var(--font-inter);
  color: var(--dark-text-color);
  position: relative;

  .dark-theme {
    --color-bg: #000;
    --dark-text-color: #fff;
    --light-text-color: #000;
  }
}
