.tabsList {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-md);
  margin-top: var(--spacing-lg);
  width: 100%;

  .currentLine {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    border-radius: 3px;
    width: calc(100% / 2);
    background: var(--primary-color);
    transition: transform 0.3s ease;
  }

  .tubButton {
    padding: var(--spacing-md) 0;
    flex: 1;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    background: none;
    border: none;
    cursor: pointer;
  }
}
