@use '@styles/_variables.scss' as *;
@use '@styles/_mixins.scss' as *;

.newTweetButton {
  margin-bottom: $spacing-lg;

  @media (max-width: $breakpoint-3xl) {
    height: 100%;
    width: 100%;
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
    margin-bottom: $spacing-lg;
  }

  @media (max-width: $breakpoint-md) {
    display: none !important;
  }

  .newTweetText {
    @media (max-width: $breakpoint-3xl) {
      display: none;
    }
  }

  .plusIcon {
    display: none;

    @media (max-width: $breakpoint-3xl) {
      display: flex;
      path {
        fill: var(--light-text-color);
      }
    }
  }
}
