.messageWrapper {
  padding: var(--spacing-sm) var(--spacing-ms);
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
  justify-content: center;
  width: fit-content;
  max-width: 80%;
  margin-left: auto;

  .messageContent {
    background: var(--message-bg);
    border-radius: var(--radius-lg);
    padding: var(--spacing-sm) var(--spacing-ms);
    width: 100%;

    position: relative;
    display: flex;
    flex-direction: column;

    .messageText {
      font-size: var(--font-size-md);
      color: var(--light-text-color);
      line-height: 1.4;
      width: 100%;
      text-wrap: pretty;
      white-space: pre-wrap;
    }

    .messageTime {
      font-size: var(--font-size-xxs);
      color: var(--message-time);
      margin-left: auto;
    }

    .messageFooter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--spacing-xs);
      font-size: var(--font-size-sm);
      color: var(--message-time);
    }

    .readStatus {
      display: flex;
      align-items: center;
    }
  }

  &.incoming {
    margin-right: auto;
    margin-left: 0;

    .messageContent {
      background: var(--message-incoming-bg);

      .messageText {
        color: var(--dark-text-color);
      }

      .messageTime {
        color: var(--message-incoming-time);
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  .avatar {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-top: auto;
    margin-bottom: var(--spacing-ms);
  }
}
