@use '@styles/_variables.scss' as *;
@use '@styles/_mixins.scss' as *;

.button {
  padding: $spacing-ms;
  border-radius: $radius-xl;
  border: 1px solid var(--border-color);
  font-size: $font-size-md-plus;
  transition: border 0.3s ease-in-out;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: var(--dark-text-color);

  &:hover {
    border: 1px solid var(--border-color-hover);
  }
}
