@use '@styles/_mixins.scss' as *;

.modalWrapper {
  @include modal-animation;
  position: relative;
  padding: var(--spacing-xl);
  padding-bottom: var(--spacing-5xl);
  background: var(--color-bg);
  border-radius: var(--radius-lg);
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    width: calc(100% - var(--spacing-md) * 2);
    max-width: none;
    padding: var(--spacing-lg);
    padding-bottom: var(--spacing-4xl);
  }

  .uploadersWrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-md);
    margin-top: var(--spacing-xl);

    .uploaderWrapper {
      width: 100%;
      position: relative;
    }
    .avatar {
      border-radius: 50%;
      max-width: 120px;
      object-fit: cover;
    }
    .banner {
      border-radius: var(--radius-lg);
      width: 100%;
      max-width: none;
      object-fit: cover;
    }
  }

  .closeButton {
    position: absolute;
    top: var(--spacing-xl);
    right: var(--spacing-2xl);

    @media (max-width: 768px) {
      top: calc(var(--spacing-lg) + 3px);
      right: calc(var(--spacing-lg) + 5px);
    }
  }

  .modalContent {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: var(--spacing-xxs);
    scrollbar-width: thin;
  }

  .changePasswordButton {
    color: var(--primary-color);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-md);
  }

  .title {
    display: inline-block;
    font-size: var(--font-size-lg-plus);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--spacing-lg);
  }

  .subtitle {
    display: inline-block;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-medium);
    margin-bottom: var(--spacing-md);
    margin-top: var(--spacing-md);
  }

  .input {
    margin-bottom: var(--spacing-lg);
    input {
      padding-right: var(--spacing-lg);
      @media (max-width: 768px) {
        padding-right: var(--spacing-md);
      }
    }
  }

  .error {
    position: absolute;
    bottom: -18px;
    padding-left: 6px;
    left: 0;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs);
    color: var(--error-color);
    pointer-events: none;
    white-space: nowrap;

    @media (max-width: 480px) {
      font-size: var(--font-size-xxs);
    }
  }

  .genderWrapper {
    position: relative;
    margin-bottom: var(--spacing-xl);
    .genderLabel {
      font-size: var(--font-size-md);
      color: var(--dark-text-color);
      opacity: 0.6;
    }

    ul {
      top: calc(100% + 20px);
    }
  }

  .submitButtonWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color-bg);
    padding: var(--spacing-md);
    border-radius: var(--radius-lg);
    z-index: 10;

    .submitButton {
      .loader {
        height: fit-content;
      }
    }
  }
}
