@use '@styles/_variables.scss' as *;
@use '@styles/_mixins.scss' as *;

.modalWrapper {
  @include modal-animation;
  position: relative;
  padding: $spacing-xl;
  padding-bottom: $spacing-5xl;
  background: var(--color-bg);
  border-radius: $radius-lg;
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-md) {
    width: calc(100% - $spacing-md * 2);
    max-width: none;
    padding: $spacing-lg;
    padding-bottom: var(--spacing-4xl);
  }

  .uploadersWrapper {
    display: flex;
    align-items: center;
    gap: $spacing-xl;
    margin-bottom: $spacing-md;
    margin-top: $spacing-xl;

    .uploaderWrapper {
      width: 100%;
      position: relative;
    }
    .avatar {
      border-radius: 50%;
      max-width: 120px;
      object-fit: cover;
    }
    .banner {
      border-radius: $radius-lg;
      width: 100%;
      max-width: none;
      object-fit: cover;
    }
  }

  .closeButton {
    position: absolute;
    top: $spacing-xl;
    right: $spacing-2xl;

    @media (max-width: $breakpoint-md) {
      top: calc(#{$spacing-lg} + 3px);
      right: calc(#{$spacing-lg} + 5px);
    }
  }

  .modalContent {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: $spacing-xxs;
    scrollbar-width: thin;
  }

  .changePasswordButton {
    color: var(--primary-color);
    font-weight: $font-weight-semibold;
    font-size: $font-size-md;
  }

  .title {
    display: inline-block;
    font-size: $font-size-lg-plus;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-lg;
  }

  .subtitle {
    display: inline-block;
    font-size: $font-size-lg;
    font-weight: $font-weight-medium;
    margin-bottom: $spacing-md;
    margin-top: $spacing-md;
  }

  .input {
    margin-bottom: $spacing-lg;
    input {
      padding-right: $spacing-lg;
      @media (max-width: $breakpoint-md) {
        padding-right: $spacing-md;
      }
    }
  }

  .error {
    position: absolute;
    bottom: -18px;
    padding-left: 6px;
    left: 0;
    font-weight: $font-weight-semibold;
    font-size: $font-size-xs;
    color: var(--error-color);
    pointer-events: none;
    white-space: nowrap;

    @media (max-width: $breakpoint-xs) {
      font-size: $font-size-xxs;
    }
  }

  .genderWrapper {
    position: relative;
    margin-bottom: $spacing-xl;
    .genderLabel {
      font-size: $font-size-md;
      color: var(--dark-text-color);
      opacity: 0.6;
    }

    ul {
      top: calc(100% + 20px);
    }
  }

  .submitButtonWrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--color-bg);
    padding: $spacing-md;
    border-radius: $radius-lg;
    z-index: 10;

    .submitButton {
      .loader {
        height: fit-content;
      }
    }
  }
}
